name: Build Pages

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "*/30 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        # ref: ${{ github.head_ref }}
        ref: master
    - name: Build Cache
      id: build-cache
      uses: actions/cache@v2
      with:
        path: cache
        key: ${{ runner.os }}-build-cache
    
    - name: Prepare
      run: |
        mkdir -p cache
        cd cache

        curl -LOC- https://get.helm.sh/helm-v3.3.0-rc.1-linux-amd64.tar.gz
        tar -zxvf helm-v3.3.0-rc.1-linux-amd64.tar.gz
        sudo mv linux-amd64/helm /usr/local/bin/helm

        curl -LOC- https://github.com/mikefarah/yq/releases/download/3.3.2/yq_linux_amd64
        chmod +x yq_linux_amd64
        sudo mv yq_linux_amd64 /usr/local/bin/yq

        cd -

        git clone --depth=1 --single-branch --branch gh-pages https://github.com/wenerme/charts charts

    - name: Building
      run: |
        sh ./scripts/build.sh
        touch message

    - name: Generate Commit Message
      run: |
        echo "##[set-output name=message;]$(cat message)"
      id: generate_commit_message

    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: ${{ steps.generate_commit_message.outputs.message }}

        commit_user_name: Wener Bot
        commit_user_email: wenerbot@gmail.com
        commit_author: GitHub Actions <wenerbot@gmail.com>

    - name: Deploy Pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages # The branch the action should deploy to.
        FOLDER: charts
